<li class="contact" id="{{ _id }}">
  {{ firstName }} {{ lastName}} <br />
  {{ dob }} <br />
  {{ phoneNo }} <br />
  <a href="mailto: {{ email }}">{{ email}}</a> <br />
  <a href="twitter.com/{{ twitter }}">{{ twitter}}</a> <br />
  <a href="{{ linkedIn }}"> {{ linkedIn }}</a> <br />
  {{ contactCat }} <br />
  <span><i class="fa fa-minus-square-o"></i></span>
</li>
