<li class="contact" id="{{ _id }}">
  <i class="fa fa-user fa-fw"></i>{{ firstName }} {{ lastName}} <br />
  <i class="fa fa-birthday-cake fa-fw"></i>{{ dob }} <br />
  <i class="fa fa-phone fa-fw"></i>{{ phoneNo }} <br />
  <i class="fa fa-envelope-o fa-fw"></i><a href="mailto: {{ email }}">{{ email}}</a> <br />
  <i class="fa fa-twitter fa-fw"></i><a href="twitter.com/{{ twitter }}">{{ twitter}}</a> <br />
  <i class="fa fa-linkedin fa-fw"></i><a href="{{ linkedIn }}"> {{ linkedIn }}</a> <br />
  <i class="fa fa-users fa-fw"></i>{{ contactCat }} <br />
  <a href="#"><i class="fa fa-minus-square-o fa-fw"></i> Delete</a>
</li>
